/* ======= common styles start ======= */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
hr{
    height: 2px;
    width: 50px;
    background-color: #5db2ff;
    border: none;
    margin: 15px 0;
}
.mb{
    margin-bottom: 40px;
}
/* ======= common styles end ======= */

/* ======= topbar styles start ======= */
.header{
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
    right: 0;
    z-index: 99;
}
.topbar{
    display: flex;
    justify-content: space-between;
    padding: 10px 80px;
    background-color: #f5fbff;
}
.topbar_left ul{
    list-style-type: none;
}
.topbar_left ul li{
    float: left;
    margin-right: 20px;
}
.topbar_left ul li a i{
    font-size: 18px;
    color: #c7c7c7;
}
.topbar_right a i{
    color: #5DB2FF;
    margin-right: 10px;
}
.topbar_right a{
    color: #919191;
    font-size: 14px;
    margin-right: 30px;
}
.topbar_right a:last-child{
    margin-right: 0;
}
/* ======= topbar styles start ======= */

/* ======= header menu styles start ======= */
.header_menu{
    padding: 20px 80px 10px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}
.navbar ul{
    list-style-type: none;
}
.navbar ul li{
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    float: left;
    transition: .5s;
}
.navbar ul li a{
    color: #727272;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
}
.navbar ul li a:hover{
    color: #1f1f1f;
    transition: all ease-in-out 0.5s;
}
.navbar ul ul{
    display: none;
}
.navbar ul ul li{
    text-align: left;
    margin-left: 25px;
    background-color: #ffffff;
    width: 200px;
    height: 50px;
    padding: 0 20px;
}
.navbar ul li:hover > ul{
    display: block;
}
.hedaer_btn{
    background-color: #009DFF;
    border: 1px solid #009DFF;
    padding: 12px 25px;
    color: #ffffff;
    font-weight: 500;
    border-radius: 5px;
    transition: all ease-in-out 0.5s;
}
.hedaer_btn:hover{
    background-color: #ffffff;
    border: 1px solid #009DFF;
    color: #009DFF;
}
/* ======= hedaer menu styles end ======= */

/* ======= hero sectionm styles start ======= */
#hero_section{
    width: 100%;
    height: 750px;
}
.hero_slider_area{
    margin-top: 130px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
}
.hero_slider{
    width: 300%;
    height: 100%;
    display: flex;
}
.hero_slider .one{
    background-image: url(../images/banner_one.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero_slider .two{
    background-image: url(../images/banner_two.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero_slider .slider_item{
    width: 100%;
    height: 100vh;
    padding: 150px 80px 0 80px;
}
.hero_slider h1{
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #1f1f1f;
    text-transform: capitalize;
}
.hero_slider h2{
    font-size: 70px;
    font-weight: 300;
    color: #1f1f1f;
    line-height: 50px;
}
.hero_slider p{
    font-size: 18px;
    color: #727272;
    width: 600px;
    font-weight: 400;
    margin: 35px 0;
}
.hero_slider .hero_btn{
    background: linear-gradient(to right, #0181f5 , #5db2ff );
    border: 1px solid transparent;
    padding: 20px 40px;
    color: #ffffff;
    font-weight: 500;
    border-radius: 5px;
    transition: all ease-in-out 0.5s;
}
.hero_slider .hero_btn:hover{
    background: #ffffff;
    border: 1px solid #0181f5;
    color: #0181f5;
}
#hero_section .nevigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
#hero_section .nevigation .bar{
    width: 50px;
    height: 10px;
    border: 2px solid #0181f5;
    margin: 6px;
    cursor: pointer;
    transition: 0.5s;
}
#hero_section .nevigation .bar:hover{
    background-color: #0181f5;
}
.hero_slider input[name="r"]{
    position: absolute;
    visibility: hidden;
}
.hero_slider .slide{
    width: 35%;
    transition: 0.6s;
    overflow: hidden;
}
.hero_slider .slide .slider_item{
    width: 100%;
    height: 100%;
}
#r1:checked ~ .s1{
    margin-left: 0;
}
#r2:checked ~ .s1{
    margin-left: -35%;
}
#r3:checked ~ .s1{
    margin-left: -70%;
}
/* ======= hero section styles end ======= */

/* ======= card section styles start ======= */
#card_section{
    width: 100%;
    height: auto;
    background-color: #83c4ff;
    padding: 0 80px;
}
#card_section .cards{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards .single_card{
    padding: 50px 40px;
}
.cards .single_card:first-child{
    padding-left: 0;
}
.cards .single_card.middle{
    background-color: #5db2ff;
}
.cards .single_card i{
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 20px;
}
.cards .single_card h3{
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 10px;
    font-weight: 500;
}
.cards .single_card p{
    font-size: 15px;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 40px;
}
.cards .single_card .card_btn{
    background-color: transparent;
    border: 1px solid #ffffff;
    padding: 12px 25px;
    color: #ffffff;
    font-weight: 500;
    border-radius: 5px;
    transition: all ease-in-out 0.5s;
}
.cards .single_card .card_btn:hover{
    background-color: #ffffff;
    color: #009DFF;
}
/* ======= card section styles start ======= */

/* ======= about section styles start ======= */
#about{
    width: 100%;
    height: auto;
    padding: 150px 80px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#about .about_img{
    width: 50%;
    position: relative;
}
#about .about_img .img1{
    position: absolute;
    top: 0;
    left: 0;
}
#about .about_img .img2{
    position: absolute;
    top: 110px;
    left: 210px;
    z-index: 1;
}
#about .about_text{
    width: 50%;
    padding-left: 100px;
}
#about .about_text .welcome_text{
    font-size: 18px;
    color: #1f1f1f;
    line-height: 10px;
}
#about .about_text h2{
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
    margin-top: 35px;
    margin-bottom: 20px;
    width: 400px;
    color: #1F1F1F;
}
#about .about_text p{
    color: #4d4d4d;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    width: 450px;
    margin-bottom: 30px;
}
#about .about_text ul{
    list-style-type: none;
    margin-bottom: 50px;
}
#about .about_text ul li{
    line-height: 30px;
    color: #727272;
}
#about .about_text ul li i{
    padding-right: 10px;
    color: #5DB2FF;
}
#about .about_text .about_btn{
    background-color: transparent;
    border: 1px solid #5DB2FF;
    padding: 12px 25px;
    color: #5DB2FF;
    font-weight: 500;
    border-radius: 5px;
    transition: all ease-in-out 0.5s;
}
#about .about_text .about_btn:hover{
    background-color: #5DB2FF;
    color: #ffffff;
}
/* ======= about section styles end ======= */

/* ======= our department section styles start ======= */
#our_department{
    padding: 100px 80px;
    background-color: #f5fbff;
}
.section_heading{
    text-align: center;
}
.section_heading h2{
    font-size: 50px;
    font-weight: 500;
    color: #1F1F1F;
}
.section_heading hr{
    margin: 15px auto;
}
.section_heading p{
    font-size: 16px;
    color: #727272;
    line-height: 30px;
    width: 500px;
    margin: 0 auto;
}
.department_cards{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.department_cards .single_dep_card{
    width: 31%;
    background-color: #ffffff;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 6px 10px rgba(0,0,0,0.1);
}
.department_cards .single_dep_card .card_img{
    overflow: hidden;
    width: 100%;
    height: 250px;
    border-radius: 5px 5px 0 0;
}
.department_cards .single_dep_card .card_img img{
    width: 100%;
    transition: all ease-in-out 0.5s;
}
.department_cards .single_dep_card:hover img{
    transform: scale(1.1);
}
.department_cards .single_dep_card .card_text{
    padding: 20px 30px;
}
.department_cards .single_dep_card .card_text h4 a{
    font-size: 22px;
    font-weight: 500;
    color: #1F1F1F;
    transition: all ease-in-out 0.3s;
}
.department_cards .single_dep_card .card_text h4 a:hover{
    color: #5db2ff;
}
.department_cards .single_dep_card .card_text p{
    margin: 15px 0;
    font-size: 15px;
    color: #4d4d4d;
    padding-right: 10px;
}
.department_cards .single_dep_card .card_text .dep_card_btn{
    font-size: 16px;
    color: #5db2ff;
}
.department_cards .single_dep_card .card_text .dep_card_btn:hover{
    text-decoration: underline;
}
/* ======= our department section styles end ======= */

/* ======= feedback section styles start ======= */
#feedback{
    width: 100%;
    height: 100vh;
}
.feedback_slider_area{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
}
.feedback_slider_area .feedback_slider{
    width: 300%;
    height: 100%;
    display: flex;
}
.feedback_slider .single_slide{
    background-image: url(../images/slider_bg_one.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    text-align: center;
    position: relative;
}
.feedback_slider .single_slide::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
}
.feedback_slider .single_slide .slider_content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #ffffff;
    width: 750px;
}
.feedback_slider .single_slide hr{
    margin: 15px auto;
    background-color: #ffffff;
}
.feedback_slider .single_slide .slider_content i{
    font-size: 64px;
    margin-bottom: 30px;
}
.feedback_slider .single_slide .slider_content p{
    font-size: 18px;
    font-weight: 500;
    line-height: 35px;
    margin-bottom: 30px;
}
.feedback_slider .single_slide .slider_content h6{
    font-size: 18px;
    font-weight: 500;
}
.feedback_slider_area .nevigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.feedback_slider_area .nevigation .bar{
    width: 50px;
    height: 10px;
    border: 2px solid #0181f5;
    margin: 6px;
    cursor: pointer;
    transition: 0.5s;
}
.feedback_slider_area .nevigation .bar:hover{
    background-color: #0181f5;
}
.feedback_slider_area .feedback_slider input[name="fr"]{
    position: absolute;
    visibility: hidden;
}
.feedback_slider_area .feedback_slider .single_slide{
    width: 35%;
    transition: 0.6s;
    overflow: hidden;
}
#fr1:checked ~ .fs1{
    margin-left: 0;
}
#fr2:checked ~ .fs1{
    margin-left: -35%;
}
#fr3:checked ~ .fs1{
    margin-left: -70%;
}
/* ======= feedback section styles end ======= */

/* ======= tab area section styles start ======= */
#tabarea{
    width: 100%;
    height: auto;
    background-color: #f5fbff;
}
.tabs{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 80px;
}
.tabs input[type="radio"]{
    display: none;
}
.tabs label{
    padding: 40px;
    background: #f5fbff;
    font-weight: 400;
    font-size: 18px;
    width: 33.3%;
    color: #1f1f1f;
}
.tabs .tab{
    width: 100%;
    order: 1;
    display: none;
    background: #ffffff;
    padding: 80px 30px;
    border-bottom: 1px solid #cacaca;
}
.tabs .tab .tab_text{
    width: 50%;
    height: 340px;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tabs .tab .tab_text .icon{
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5db2ff;
    border-radius: 50%;
    margin-bottom: 20px;
}
.tabs .tab .tab_text .icon i{
    color: #ffffff;
    font-size: 30px;
}
.tabs .tab .tab_text h3{
    color: #1f1f1f;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 15px;
}
.tabs .tab .tab_text p{
    color: #727272;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
}
.tabs .tab .tab_img{
    width: 50%;
    float: right;
}
.tabs .tab .tab_img img{
    width: 100%;
    border-radius: 10px;
}
.tabs input[type='radio']:checked + label + .tab{
    display: block;
}
.tabs input[type="radio"]:checked + label{
    background: #fff;
}
/* ======= tab area section styles end ======= */

/* ======= expert doctor section styles start ======= */
#exp_doc{
    padding: 100px 80px;
}
#exp_doc .section_heading{
    text-align: left;
    margin-bottom: 40px;
}
#exp_doc .section_heading h2{
    font-size: 35px;
}
#exp_doc .doctors{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#exp_doc .doctors .single_doc{
    width: 23%;
    border-radius: 5px 5px 0 0;
    background-color: #f5fbff;
}
#exp_doc .doctors .single_doc .doc_img{
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}
#exp_doc .doctors .single_doc .doc_img img{
    width: 100%;
    transition: all ease-in-out 0.5s;
}
#exp_doc .doctors .single_doc:hover img{
    transform: scale(1.1);
}
#exp_doc .doctors .single_doc .doc_text{
    padding: 20px 0;
    text-align: center;
}
#exp_doc .doctors .single_doc .doc_text h4{
    font-size: 24px;
    font-weight: 500;
    color: #1f1f1f;
}
#exp_doc .doctors .single_doc .doc_text p{
    font-size: 14px;
    color: #919191;
}
/* ======= expert doctor section styles end ======= */

/* ======= contact section styles start ======= */
#contact{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#contact .emergency_contact{
    width: 50%;
    background-image: url(../images/emergency_contact_bg.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
#contact .make_appoinment{
    width: 50%;
    background-image: url(../images/make_appoinment_bg.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
#contact .make_appoinment::before, #contact .emergency_contact::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(74,164,233,0.7);
}
#contact .make_appoinment, #contact .emergency_contact{
    padding: 100px 50px 100px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.emergency_contact .emergency_text, .emergency_contact .emergency_btn{
    position: relative;
    z-index: 1;
    color: #ffffff;
}
.make_appoinment .appoinment_text, .make_appoinment .appoinment_btn{
    position: relative;
    z-index: 1;
    color: #ffffff;
}
.emergency_contact .emergency_text h3, .make_appoinment .appoinment_text h3{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.emergency_contact .emergency_text p, .make_appoinment .appoinment_text p{
    font-size: 14px;
}
.emergency_contact .emergency_btn a, .make_appoinment .appoinment_btn a{
    background: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 50px;
    font-size: 15px;
    padding: 12px 30px;
    transition: all ease-in-out 0.5s;

}
.emergency_contact .emergency_btn a:hover, .make_appoinment .appoinment_btn a:hover{
    background-color: #ffffff;
    color: #0181f5;
}
/* ======= contact section styles end ======= */

/* ======= footer section styles start ======= */
.main_footer_area{
    background-color: #1f1f1f;
    padding: 100px 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.main_footer_area .footer_part_one{
    width: 40%;
}
.main_footer_area .footer_part_one img{
    margin-bottom: 20px;
}
.main_footer_area .footer_part_one p{
    color: #ffffff;
    font-size: 16px;
    width: 400px;
    color: #c7c7c7;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 20px;
}
.main_footer_area .footer_part_one .footer_social_links{
    list-style-type: none;
}
.main_footer_area .footer_part_one .footer_social_links li{
    float: left;
    width: 50px;
    height: 50px;
    background-color: #707070;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    border-radius: 5px;
}
.main_footer_area .footer_part_one .footer_social_links li a i{
    font-size: 18px;
    color: #bababa;
}
.main_footer_area .footer_part_two{
    width: 20%;
}
.main_footer_area .footer_part_three{
    width: 20%;
}
.main_footer_area .footer_part_four{
    width: 20%;
}
.main_footer_area .footer_part_two h3, .main_footer_area .footer_part_three h3, .main_footer_area .footer_part_four h3{
    font-size: 22px;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 30px;
}
.main_footer_area .footer_part_two ul, .main_footer_area .footer_part_three ul{
    list-style-type: none;
}
.main_footer_area .footer_part_two ul li, .main_footer_area .footer_part_three ul li{
    padding: 10px 0;
}
.main_footer_area .footer_part_two ul li a, .main_footer_area .footer_part_three ul li a{
    font-size: 16px;
    color: #c7c7c7;
    transition: all ease-in-out 0.5s;
}
.main_footer_area .footer_part_two ul li a:hover, .main_footer_area .footer_part_three ul li a:hover{
    color: #5db2ff;
}
.main_footer_area .footer_part_four address{
    color: #c7c7c7;
    margin-bottom: 8px;
}
.main_footer_area .footer_part_four span{
    color: #c7c7c7;
    margin-bottom: 8px;
    display: block;
}
.footer .copyright{
    text-align: center;
    padding: 20px 0;
    background-color: #000000;
    color: #c7c7c7;
    font-size: 15px;
    font-weight: 300;
}
/* ======= footer section styles end ======= */